<nav id="my-nav" class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="pull-left bars">{{fa-icon "bars" size=2}}</li>
      <li id="logo-container"><img class="logo" src="/assets/images/bustle_logo.png" alt="Bustle Logo" /></li>
      <li class="pull-right search">{{fa-icon "search" size=2}}</li>
      <li class="pull-right border"></li>
      <li class="pull-right"><a href="#">{{fa-icon "instagram" size=1}}</a></li>
      <li class="pull-right"><a href="#">{{fa-icon "pinterest-p" size=1}}</a></li>
      <li class="pull-right"><a href="#">{{fa-icon "twitter" size=1}}</a></li>
      <li class="pull-right"><a href="#">{{fa-icon "facebook" size=1}}</a></li>
    </ul>
  </div>
 </nav>
