<div class="container">
  <div class="content-box">
    <div class="title-box">
      <h2 class="content-title">{{model.title}}</h2>
    </div>
    <img src={{model.image}} alt={{model.title}} />



    <section class="text-content">
    <p>By <span class="feature-author"><a href="#">{{model.author}}</a></span></p>

      {{model.text}}
    </section>
  </div>
</div>
